{
  "extends": [
    "plugin:vue/vue3-essential",
    "@vue/standard"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "extraFileExtensions": [".vue"],
    "ecmaVersion": 2020
  },
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": 0
  },
  "root": true,
  "env": {
    "node": true
  }
}
